code[class*='language-'],
pre[class*='language-'] {
  color: #d4d4d4;
  background: none;
  font-family: Consolas, Monaco, 'Courier New', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #6a9955;
}

.token.keyword {
  color: #569cd6;
}

.token.string {
  color: #ce9178;
}

.token.number {
  color: #b5cea8;
}

.token.function {
  color: #dcdcaa;
}

.token.operator {
  color: #d4d4d4;
}

.token.punctuation {
  color: #d4d4d4;
}
